header h1{
    text-align: center;
    color: lightgray;
    background-color: gray;
    border: 5px solid plum;
    opacity: .60;
    border-radius: 10px;
}
.attribution{
    color: lightgray;
}
footer{
    text-align: right;
    color: lightgray;
}
article p{
    text-align: center;
    font-size: 14px;
}

#juwang{
    border: 1px solid black;
    padding: 1px 1px;
    margin: 0 auto;
}
body{
    width: 1200px;
    text-align: justify;
    margin-left: 50px;
}