header h1{
    text-align: center;
    color: lightgray;
    background-color: gray;
    border: 5px solid plum;
    padding: 1px 1px;
    opacity: .60;
    border-radius: 10px;

}    
a{
    color: blue;
}
.attribution{
    color: lightgray;
}
footer{
    text-align: right;
    color: lightgray;
}
article p{
    text-align: right;
    font-size: 14px;
    color: gray;
}
body{
    width: 625px;
    text-align: justify;
    margin-left: 200px;
}

#juwang{
    margin: 0 0 20px 0;
    width: 800px;
}

#monks{
    width: 800px; 
    
}